h1 User Regist
p input following information.
form(name='userRegist', action='/user/regist', method='put').foo
    p
      label
        | Username:
        input( name='user[name]' )
    p
      label
        | Password:
        input( name='user[password]' )
    //
      p
        label
          | hidden:
          input( type='hidden', name='_method', value='put' )
    p
      input( type='submit', value='create' ).createSubmit
